SECRET_KEY_BASE=CHANGEMEEEEEE
DATABASE_URL="postgres://task_tracker:CHANGEMETOO@db"
CACHE_DATABASE_URL="postgres://task_tracker:123@db"
QUEUE_DATABASE_URL="postgres://task_tracker:123@db"
CABLE_DATABASE_URL="postgres://task_tracker:123@db"
